<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <div class="container">
            <h1>Polynomials App</h1>

            <div class="polys">
                <% for (polynomial of polynomials) { %>
                    <div class="cards">
                        <article>
                            <a href="/polynomials/<%= polynomial._id %>">
                                <h2>
                                    \(<%= polynomial.function %>\) <br>
                                        <%= polynomial.type %>
                                </h2>
                            </a>
                            <img src="<%= polynomial.image %> " style="width:200px; border:double blue">
                        </article>
                    </div>

                    <% } %>
            </div>
        </div>

    </body>

</html>