<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <div class="container">
            <div class="indexH1">
                <h1>Polynomials App</h1>

                <a href="/user/logout"><button class="signLog">Logout</button></a>
            </div>

            <div class="polys">
                <% for (polynomial of polynomials) { %>
                    <div class="cards">
                        <a href="/polynomials/<%= polynomial._id %>">
                            <h3>
                                \(<%= polynomial.function %>\)<br>
                                    <%= polynomial.type %>
                            </h3>
                        </a>
                        <img src="<%= polynomial.image %> " style="width:200px; border: 3px double black">
                        <div class="indexButtons">
                            <a href="/<%= polynomial._id %>/edit"><button class="signLog">Edit</button></a>
                            <form action="/polynomials/<%= polynomial._id %>?_method=DELETE" method="POST">
                                <input class="indexDelete" type="submit" value="Delete" />
                            </form>
                        </div>
                    </div>
                    <% } %>

                    <nav>
                        <a href="/polynomials/new"><button class="createButton">Create a New polynomial</button></a>
                    </nav>

            </div>
        </div>

    </body>

</html>