<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <div class="container">
            <h1>Polynomials App</h1>

            <a href="/user/logout"><button>Logout</button></a>


            <div class="polys">
                <% for (polynomial of polynomials) { %>
                    <div class="cards">
                        <a href="/polynomials/<%= polynomial._id %>">
                            <h3>
                                \(<%= polynomial.function %>\) <br>
                                    <%= polynomial.type %>
                            </h3>
                        </a>
                            <img src="<%= polynomial.image %> " style="width:200px; border:double blue">
                    </div>
                    <% } %>
            </div>
        </div>

    </body>

</html>