<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <main>
            <div class="container">

                <article>
                    <h2>
                        Function: \(<%= polynomial.function %>\)
                    </h2>
                    <img src="<%= polynomial.image %>" style="width:200px; border:double black">
                    <h4>
                        Type: <%= polynomial.type %></br>
                            Form: <%= polynomial.form %></br>
                                Degree: <%= polynomial.degree %></br>
                                    Parent function: \(<%= polynomial.parentFunction %>\)</br>
                                        <img src="<%= polynomial.imageTwo %>" style="width:100px; border:double black">
                    </h4>
                    <a href="/polynomials/"><button>Back to Home Page</button></a>
                    
                    <form action="/polynomials/comments/<%= polynomial._id %>" method="post">
                        <input type="text" name="text" placeholder="Add a comment...">
                        <input type="submit" value="Comment">
                    </form>

                </article>

            </div>
        </main>
    </body>

</html>