<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <main>
            <div class="mainShow">
                <article>
                    <h2>
                        Function: \(<%= polynomial.function %>\)
                    </h2>

                    <a href="/polynomials/"><button class="signLog">Back to Home Page</button></a>
            </div>

            <div class="showpg">
                <img class="showimg" src="<%= polynomial.image %>" style="width:250px; border: 3px double black">
                <h4>
                    Type: <%= polynomial.type %></br>
                        Form: <%= polynomial.form %></br>
                            Degree: <%= polynomial.degree %></br>
                                Parent function: \(<%= polynomial.parentFunction %>\)</br>
                                    <img src="<%= polynomial.imageTwo %>" style="width:139px; border: 3px double black">
                </h4>

                <form class="commentBox" action="/polynomials/comments/<%= polynomial._id %>" method="post">
                    <input class="textarea" type="text" name="text" placeholder="Add a comment...">
                    <input class="commentSubmit" type="submit" value="Comment">
                </form>

            </div>
            <div>
                <% for (let comment of polynomial.comments) { %>
                    <p class="comments">
                        <%=comment.text%>
                    </p>
            </div>
            <div class="commentEdit">
                <a href="/polynomials/comments/<%= comment._id %>/edit"><button class="signLog">Edit</button></a>
                <form action="/polynomials/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <input class="delete" class="signLog" type="submit" value="Delete" />
                </form>
            </div>
            <%}%>
                </article>

        </main>
    </body>

</html>