<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <main>
            <div class="mainShow">
                <article>
                    <h2>
                        Function: \(<%= polynomial.function %>\)
                    </h2>

                    <a href="/polynomials/"><button class="backButton">Back to Home Page</button></a>
            </div>

            <div class="showpg">
                <img class="showimg" src="<%= polynomial.image %>">
                <h4>
                    <span class="showH4">Type:</span>
                    <%= polynomial.type %></br>
                        <span class="showH4">Form:</span>
                        <%= polynomial.form %></br>
                            <span class="showH4">Degree:</span>
                            <%= polynomial.degree %></br>
                                <span class="showH4">Parent function:</span> \(<%= polynomial.parentFunction %>\)</br>
                                    <img src="<%= polynomial.imageTwo %>" style="width:139px; border: 3px double black">
                </h4>
            </div>
            <div class="showPgComments">
                <form class="commentBox" action="/polynomials/comments/<%= polynomial._id %>" method="post">
                    <input class="textarea" type="text" name="text" placeholder="Add a comment...">
                    <input class="commentSubmit" type="submit" value="Comment">
                </form>
            </div>


            <% for (let comment of polynomial.comments) { %>
                <div class="commentsDiv"></div>
                <p class="comments">
                    <%=comment.text%>
                </p>
                </div>

                <div class="commentButtons">
                    <a href="/polynomials/comments/<%= comment._id %>/edit"><button class="delete">Edit</button></a>
                    <form
                        action="/polynomials/comments/<%= comment._id %>?_method=DELETE&polynomialId=<%= polynomial._id %>"
                        method="POST">
                        <input class="delete" type="submit" value="Delete" />
                    </form>
                </div>
                <%}%>
                    </article>
        </main>
    </body>

</html>